{% extends 'base.html' %}{% import 'bootstrap/wtf.html' as wtf%}

<!-- content -->
<div class="container">
    {% block content %}
    <style>
        #clockdiv {
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
        }
        
        #clockdiv>div {
            padding: 10px;
            border-radius: 3px;
            background: #00BF96;
            display: inline-block;
        }
        
        #clockdiv div>span {
            padding: 15px;
            border-radius: 3px;
            background: #00816A;
            display: inline-block;
        }
        
        .smalltext {
            padding-top: 5px;
            font-size: 16px;
        }
    </style>
    <div class="jumbotron text-center">
        <h1>
            {{app_name}}
        </h1>
    </div>

    <div class="col-md-6">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div id="countTime">
                    <input id="duration" name="duration" type="hidden" value="{{ duration }}" />
                    <input id="short_break" name="short_break" type="hidden" value="{{ short_break }}" />
                </div>
                <div id="clockdiv">
                    <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <button id="startButton" class="btn btn-primary">Start</button>

                <button id="stopButton" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>

{% endblock %}
</div>